//----------------------
//-- IMPORT
//----------------------
//@import url(http://weloveiconfonts.com/api/?family=entypo);

@import "compass/css3";
@import "mixin.scss";

@import "reset.scss";
@import "grid.scss";


//----------------------
//-- FONTS - GENERAL
//----------------------
$font_url: "../fonts";

$font-arial: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-arial-rounded-bold: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
$font-trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;

//----------------------
//-- FONTS - CUSTOM
//----------------------


//-- CUSTOM FONTS - VARIABLE




//----------------------
//-- GENERAL - VARIABLE
//----------------------
$font-size:12;
$f:$font-size;

//-- FROM GRID.SASS
$tot_margin: $tot_margin;

//-- CORPORATE COLOR
$color:#333;

//-- BLUE
$color-blue-ocean: #007dba;
$color-blue-ocean-dark: #004165;

$color-blue:$color-blue-ocean;
$color-blue-dark:$color-blue-ocean-dark;

//-- YELLOW
$color-golden-shore: #fdc82f;
$color-west-coast: #df7a00;
//--
$color-yellow: $color-golden-shore;
$color-orange: $color-west-coast;

//-- GREY
$color-white: #fff;
$color-white-dark: #404040;
//--
$color-grey:$color-white-dark;

//-- TOSCA
$color-mt-cook: #b9ccc3;
$color-sea-grass: #589199;
//--
$color-tosca: $color-mt-cook;
$color-tosca-dark: $color-sea-grass;

//-- RED
$color-red: #df0000;
$color-red-dark: #980000;

//-- GREEN
$color-green:#98d552;
$color-green-dark:#51ac00;
$color-rockpool: #7C6F7D;

//-- GOLD
$color-spinifex: #d3cd8b;
$color-spinifex-dark: #777023;
//-
$color-gold: $color-spinifex;
$color-gold-dark: $color-spinifex-dark;

$img-url:"../images";
$img_url:$img-url;

$color-facebook:#3b5998;
$color-twitter:#00aced;
$color-gplus:#dd4b39;
$color-youtube:#bb0000;
$color-instagram:#517fa4;

//----------------------
//-- FUNCTIONS
//----------------------
@function sprites($position, $optname:null){
	@return url(#{$img-url}/icons/sprites#{$optname}.png) no-repeat $position;
}
@function font-size($old, $new){
	@return #{$new / $old}em;
}

//----------------------
//-- KEYFRAMES
//----------------------
@include keyframes(_slide_up_) {
	0% {
		top: 0%;
	}
	100% {
		top: -100%;
	} 
}
@include keyframes(_slide_down_) {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	} 
}

//----------------------
//-- IMPORT - GENERAL CLASS
//----------------------
@import "global.scss";

//----------------------
//-- START CUSTOMIZE
//-----------------

@mixin gradient($color1, $color2){
	background-color: $color1;
	@include filter-gradient($color1, $color2, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  $color1 0%,$color2 100%));
}

@mixin allcolors($hover:false, $button:false){
	&.blue{
		color: #fff;
		.cssgradients &{
			@include gradient($color-blue, $color-blue-dark);
			
			@if ($hover == true){
				&:hover{
					@include gradient($color-blue + 20, $color-blue-dark + 20);
				}
				&:active{
					@include gradient($color-blue - 20, $color-blue-dark - 20);
				}
			}
		}
		
		@if($button == true){
			&.small{
				background-image: url(#{$img_url}/backgrounds/button-blue-small.gif);
			}
			&.medium{
				background-image: url(#{$img_url}/backgrounds/button-blue-medium.gif);
			}
			&.large{
				background-image: url(#{$img_url}/backgrounds/button-blue-large.gif);
			}
			&:hover{
				background-color: $color-blue-dark;
				background-image: none!important;
			}
			&:active{
				background-color: $color-blue-dark - 20;
				background-image: none!important;
			}
		}
	}
	&.orange{
		color: #fff;
		.cssgradients &{
			@include gradient($color-yellow, $color-orange);
			
			@if ($hover == true){
				&:hover{
					@include gradient($color-yellow + 20, $color-orange + 20);
				}
				&:active{
					@include gradient($color-yellow - 20, $color-orange - 20);
				}
			}
		}
		
		@if($button == true){
			&.small{
				background-image: url(#{$img_url}/backgrounds/button-yellow-small.gif);

			}
			&.medium{
				background-image: url(#{$img_url}/backgrounds/button-yellow-medium.gif);
			}
			&.large{
				background-image: url(#{$img_url}/backgrounds/button-yellow-large.gif);
			}

			&:hover{
				background-color: $color-yellow-dark;
				background-image: none!important;
			}
			&:active{
				background-color: $color-yellow-dark - 20;
				background-image: none!important;
			}
		}
	}
	&.green{
		color: #fff;
		.cssgradients &{
			@include gradient($color-green, $color-green-dark);
			
			@if ($hover == true){
				&:hover{
					@include gradient($color-green + 20, $color-green + 20);
				}
				&:active{
					@include gradient($color-green - 20, $color-green - 20);
				}
			}
		}
		
		
		@if($button == true){
			&.small{
				background-image: url(#{$img_url}/backgrounds/button-green-small.gif);

			}
			&.medium{
				background-image: url(#{$img_url}/backgrounds/button-green-medium.gif);
			}
			&.large{
				background-image: url(#{$img_url}/backgrounds/button-green-large.gif);
			}

			&:hover{
				background-color: $color-green-dark;
				background-image: none!important;
			}
			&:active{
				background-color: $color-green-dark - 20;
				background-image: none!important;
			}
		}
	}
	
	&.grey{
		color: $color-blue;
		.cssgradients &{
			@include gradient(#fff, #bfbfbf);
			
			@if ($hover == true){
				&:hover{
					@include gradient(#fff + 20, #bfbfbf + 20);
				}
				&:active{
					@include gradient(#fff - 20, #bfbfbf - 20);
				}
			}
		}
	}
	&.gold{
		color: #fff;
		.cssgradients &{
			@include gradient($color-gold, $color-gold-dark);
			
			@if ($hover == true){
				&:hover{
						@include gradient($color-gold + 20, $color-gold-dark + 20);
				}
				&:active{
						@include gradient($color-gold + 20, $color-gold-dark + 20);
				}
			}
		}
	}
}


html,body{
	height: 100%;
}
body{
	color: #333;
	overflow-x: hidden;
	
	font: {
		size:#{$f}px;
		family:$font-verdana;
	}
}
a{
	color: inherit;
	
	p &:hover{
		text-decoration: underline;
	}
}
.title{
	line-height: 1em;
	font:{
//		size: font-size(16,60); //-- 
	}
}
strong, bold{
	font-family: $font-arial-rounded-bold;
}
i,em{
//	font-family: $font-arial-rounded;
}
figure{
	margin: 0;
}
p{
	margin-top: 0;
}
select, textarea, input, button{
	border: solid 1px #ccc;
	@include border-radius(0);

	font: {
		size: font-size($f,14);
	}
}
h1,h2,h3,h4,h5,h6{
	font: {
		weight:bold;
	}
}
h1{
	font: {
		size: font-size($f,24);
	}
}
h2{
	font: {
		size: font-size($f,15);
	}
}
h3{
	font: {
		size: font-size($f,14);
	}
}
p{
	
}
abbr[title]{
	border-bottom: 0;
}
address{
	font-style: normal;
}
dl{
	&.form-inline, .form-inline &{
		float: left;
		width: 100%;
		dt,dd{
			float: left;
			display: inline;
			margin: 0;
			margin-bottom: 10px;
		}
		dt{
			width: 35%;
			margin-right: 5%;
			clear: both;
		}
		dd{
			width: 60%;
		}
	}
	&.form-block, .form-block &{
		float: left;
		width: 100%;
		dt,dd{
			float: left;
			display: inline;
			margin: 0;
			width: 100%;
		}
		dt{
			clear: both;
			margin-bottom: 5px;
		}
		dd{
			margin-bottom: 10px;
		}
	}
}
.pagination{
	margin: 20px 0;
	text-align: center;
	
	ul,ol{
		display: block;
		padding: 0;
		margin: 0;
	}
	li{
		display: inline-block;
		margin: 0 3px;
	}
	a{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 3px 12px;
		
		background: #ddd;
		color: #666;

		@include transition(all 1s ease);
		
		@include border-radius(50px);

		&.active, &.active:hover{
			background: #3a3a3a;
			color: #fff;
		}
		
		&:hover{
			background: #3a3a3a + 50;
			color: #fff;
			@include transition(all 0s ease);
		}
		&:active{
			background: #3a3a3a - 50;
			color: #fff;
			cursor: default;
		}
		
		&.prevnext{
			
			
			&:hover{
				background: #ccc;
				color: #333;
			}
		}
	}
}
.alert{
	color: $color-red;
}

//-- BUTTON
.button_group{
	&.right{
		text-align: right;
	}
}
.button{
	border: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	border-bottom: solid 2px rgba(0, 0, 0, 0.25);
	position: relative;
	background-repeat: repeat-x;
	background-position: 0 100%;
	
	@include text-shadow(rgba(0,0,0,0.25) 1px 1px 2px);
	@include border-radius(5px);
//	@include transition(all, 0.25s, ease);
	
	&+.button, br+&{
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 10px;
	}
	
	&.small{
		padding: 2px 7px;
		@include border-radius(5px);
		
		font:{
			size:font-size($f,11);
		}
		line-height: 1.25em;
	}
	&.medium{
		padding: 5px 20px;
		@include border-radius(7px);
		
		font:{
			size:font-size($f,12);
		}
	}
	&.large{
		padding: 10px 25px;
		@include border-radius(10px);
		
		font:{
			size:font-size($f,14);
		}
	}
	
	&+.button{
		margin-left: 5px;
	}
	
	&:hover, &:active{
		top: 2px;
		border-bottom-color: transparent;
	}
	&:active{
//		@include transform(scale(0.95));
	}
	
	@include allcolors(true);
	
	&.icon-left,&.icon-right{
		.icon{
			position: absolute;
			top: 7px;
		}
		&.small{
			.icon{
				top: 7px;

				&.sprites-excel{
					top: 5px;
				}

				&.sprites-add{
					top: 6px;
				}

				&.sprites-pdf{
					top: 5px;
				}

				&.sprites-pdf{
					top: 5px;
				}
				&.sprites-save{
					top: 6px;
				}
				&.sprites-purge{
					top: 5px;
				}
				&.sprites-generate{
					top: 5px;
				}
				&.sprites-reset{
					top: 6px;
				}
				&.sprites-csv{
					top: 5px;
				}
			}
		}
		&.medium{
			.icon{
				top: 8px;
			}
		}
		&.large{
			.icon{
				top: 14px;
			}
		}
	}
	&.icon-left{
		padding-left: 40px;
		padding-right: 20px;

		.icon{
			left: 10px;
		}
	}
	&.icon-right{
		padding-right: 40px;
		padding-left: 20px;
		
		.icon{
			right: 10px;
		}
		
	}
}
.table-paging{
	input{
		width: 20px;
		padding: 5px;
		text-align: center;
	}
	.prev_next{
		ul{
		
		}
		li{
			width: 25px;
			a{
				padding: 5px 8px;
				height: auto;
				line-height: 1em;
				border: solid 1px #ccc;
			}
			input[type=text]{
//				width: 15px;
			}
		}
	}
	.goto_page{
		text-align: center;
		a{
			border: solid 1px #ccc;
		}
	}
	.item_of{
		text-align: right;
	}
}

@mixin button_color($colorname, $bgcolor, $txtcolor, $shadow){
	.button{
		&.#{$colorname}{
			background-color: $bgcolor;
			color: $txtcolor;
			background-image: url(#{$img-url}/backgrounds/wave-v-#{$colorname}-small.jpg);
			border: solid 2px #fff;
			
			@if($shadow == true){
				@include box-shadow(rgba(0,0,0,0.25) 2px 2px 4px);
				@include border-radius(5px);
			}

			&:hover{
				@include transform(scale(0.95));
			}
			&:active{
				@include transform(scale(0.9));
			}
		}
	}
}

//@include button_color("yellow", #f8c040, $color-brown, true);



//---------------------
//- SPRITES
//---------------------
@mixin icons($name, $pos, $width, $height){
	&.#{$name}{ 
		background-position: $pos;
		width: $width;
		height: $height;
	}
}

.icon{
	background-image: url(#{$img-url}/icons/sprites.png);
	background-repeat: no-repeat;
	display: inline-block;

	
	@include icons("login", 0 -70px, 48px, 48px);
	@include icons("user", 0 -137px, 11px, 15px);
	@include icons("key", 0 -171px, 15px, 15px);
	@include icons("alarm", 0 -298px, 18px, 19px);
	@include icons("excel", 0 -235px, 19px, 18px);
	@include icons("gototop", -35px -647px, 36px, 21px);
	@include icons("reset", 0 -897px, 13px, 16px);
	@include icons("refresh", 0 -855px, 16px, 16px);
	@include icons("generate", 0 -647px, 19px, 19px);
	@include icons("cancel", 0 -731px, 14px, 14px);
	@include icons("calendar", 0 -609px, 14px, 17px);
	@include icons("purge", 0 -809px, 16px, 18px);
	@include icons("search", 0 -575px, 14px, 14px);
	
	@include icons("csv", 0 -690px, 19px, 18px);
	@include icons("pdf", 0 -334px, 18px, 18px);
	
	@include icons("add", 0 -264px, 16px, 16px);
	@include icons("save", 0 -942px, 16px, 16px);
	@include icons("delete", 0 -1034px, 16px, 16px);
	@include icons("edit", 0 -984px, 16px, 16px);
	
	@include icons("arrow-last", 0 -535px, 7px, 10px);
	@include icons("arrow-next", 0 -488px, 7px, 10px);
	@include icons("arrow-back", 0 -445px, 7px, 10px);
	@include icons("arrow-first", 0 -398px, 7px, 10px);
	@include icons("arrow-toggle-down", -50px -300px, 7px, 5px);
	@include icons("arrow-toggle-up", -50px -260px, 7px, 5px);
	@include icons("toggle-up-circle", -39px -610px, 16px, 16px);
	@include icons("toggle-down-circle", -39px -576px, 16px, 16px);
	@include icons("arrow-topnav", 0 0, 21px, 21px);
	
	
	
}

//----------------------
//-- BAR
//----------------------
.bar{
	@include border-radius(5px);
	padding: 5px 2.5%;
	width: 95%;
	margin-bottom: 20px;
	position: relative;

	*{
		margin: 0;
		font-weight: normal;
	}

	@include allcolors();
	
}


//-- TABLE
[class*="table"]{
	table{
		border: solid 1px #ccc;
	}

	thead{
		tr{
			
		}
		th,td{
			color: #fff;
			font-weight: normal;
			
			&+th,&+td{
				border-left: solid 1px #999;
			}
		}
	}
	tbody{
		tr{
			background: #f3f3f3;
			&:nth-child(odd), .odd{
				background: #f9f9f9;
			}
			&:nth-child(even), .even{
				
			}
		}
		td{
			
			
			&+td{
				border-left: solid 1px #eee;
			}
		}
	}
	
	tfoot{
		tr{
			border-top: solid 1px #ddd;
			background: #f0f0f0;
		}
	}
	
	td,th{
		padding: 5px 1%;
		input[type="checkbox"], input[type="radio"]{
			&:only-child{
				margin: 0 auto;
				display: block;
			}
		}
	}
	
	&+&{
		margin-top: 40px;
	}
	
	.caption{
		text-transform: uppercase;
		font-size: font-size($f,14);
		color: $color-blue;
		margin-top: 0;	
	}
	
	button, input[type=button]{
		padding: 0;
		background: transparent;
		border: 0;
		
		&:only-child{
			margin: 0 auto;
			display: block;
		}
	}
	
	.button{
		&+table{
			margin-top: 10px;
		}
	}
	
	&.wrapped{
		border: solid 1px #eee;
		overflow: hidden;
		background: #fff;
		@include border-radius(5px);
		
		table{
			margin: 2.5%;
			width: 95%;
		}
	}
	
	
	.disclaimer{
		margin-top: 10px;
		font-size: font-size($f,11);
		p{
			margin-bottom: 0;
		}
		*{
			color: #999;
			line-height: 1.5em;
		}
	}
}

.table_blue{
	thead{
		tr{
			background: $color-blue;
		}
	}
}

.table_blue-dark{
	thead{
		tr{
			background: $color-blue-dark;
		}
	}
}

.table_grey{
	thead{
		tr{
			background: #bbb;
		}
	}
}

.table_green{
	thead{
		tr{
			background: $color-green;
		}
	}
}

//----------------------
//-- GAUGE
//----------------------
.gauge_wrap{
	.gauge_img{
		display: block;

		.no-canvas &{
			display: none;
		}
	}
	.gauge_alt{
		display: none;

		.no-canvas &{
			$size:150px;
			
			display: block;
			height: $size;
			width: $size;
			text-align: center;
			margin: 0 auto;
			font-size: font-size($f,30);
			display: table;
			
			*{
				margin: 0;
				width: 100%;
				background: #fff;
				height: 100%;
				line-height: 1em;
				display: table-cell;
				vertical-align: middle;
				border: solid 15px #eee;
				font-weight: normal;
				color: $color-blue;
				@include box-sizing(border-box);
				@include border-radius(100%);
			}
		}
	}
}

//----------------------
//-- HEADER
//----------------------
.header{
	$height: 75px;
	margin-top: 10px;
	
	background: url(#{$img_url}/backgrounds/header.gif) no-repeat 50% 0; 
	
	[class*="span"]{
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.anz_logo{
		display: block;
		width: 100%;
		height: $height;
		text-indent: -9999px;
		font-size: 0px;
	}
	h1{
		color: #fff;
		margin: 10px 0;
		font-size: font-size($f,18);
		padding-left: 35px;
		text-transform: uppercase;
		font-weight: normal;
	}
	.user_info_wrap{
		color: #fff;
		padding-top: 10px;
		h4{
			
		}
		dl{
			margin: 0;
		}
		dt,dd{
			margin: 0;
			line-height: 1.5em;
		}
		dt{
			
		}
		dd{
			
		}
	}
}


//--- TOP NAV
.top_nav{
	
}
.top_menu{
	background: url(#{$img_url}/backgrounds/topNav_bg_M.gif) repeat-x 100% 0;
	float: left;
	width: 100%;
	position: relative;
	z-index: 99;
	
	@include box-shadow(rgba(0, 0, 0, 0.1) 0 5px 10px);
	
	.L{
		display: inline;
		float: left;
	}
	.M{
		background: url(#{$img_url}/backgrounds/topNav_bg_R.gif) no-repeat 100% 0;
		width: 958px;
		float: left;
	}
	
	ol,ul{
		ol,ul {
			background: #fff;
			display: none;
			position: absolute;
			left: 0;
			top: 98%;
			
			border: solid 1px #ccc;
			border-top: 0;

			@include gradient(#f3f7ff, #e1e9ec);
			@include border-radius(0 0 5px 5px);
			
			li {
				
			}
			ol,ul {
				left: 100%;
				top: 0;
				border-top: solid 1px #ccc;
				@include border-radius(5px);
			}
		}
	}
	li {
		position: relative;
		float: left;
		
		&+li{
			border-left: solid 1px #ddd;
		}
		
		li{
			width: 100%;
			border-left: 0;
			
			&+li{
				border-top: solid 1px #dedede;
			}

			a{
				padding-top: 5px ;
				padding-bottom: 5px ;
			}
		}
		
		&:hover{
			> ol {
				display: block;
			}
		}
		a {
			color: #005378;
			display: block;
			padding: 9px 20px;
		}
		
	}
	.logout{
		float: right;
		margin: 9px 15px 0 0;
	}
}

//----------------------
//-- PAGE - HOME
//----------------------
.page-dashboard{
	padding-top: 40px;
}
.dashboard_menu {
	background: #f6f6f6;
	border: solid 1px #ccc;
	border-radius: 10px;
	padding: 5%;
	width: 90%;
	float: left;
	h1 {
		margin: 0;
	}
	.menu_wrap{
		border: solid 1px #ccc;
		margin-bottom: 20px;
	}
	ol {
		float: left;
		width: 100%;
		background: #eee;
		ol {
			background: #fff;
		}
		
		>li{
			>ol{
				display: none;
			}
		}
	}
	li {
		a {
			float: left;
			width: 95%;
			padding: 2.5%;
		}
		
		&+li{
			a{
				border-top: solid 1px #ccc;
			}
		}
		
		li{
			a{
				padding-left: 5%;
				width: 92.5%;
			}
			li{
				a{
					padding-left: 7.5%;
					width: 90%;
				}
			}
		}
	}
	
	.button{
		margin: 0 auto
	}
}

.body{
	.title{
		color: $color-blue;
	}
}

//----------------------
//-- GO TO TOP
//----------------------
#gototop{
	$size:70px;
	width: $size;
	height: $size;
	
	position: fixed;
	z-index: 50;
	right: -100%;
	bottom: 13px;
	border: solid 1px #ccc;
	
	cursor: pointer;
	
//	border: solid 1px rgba(0,0,0,0.1);
//	border-right: 0;
	
	background: #fff;
	
	@include transform(rotateZ(360deg * 4));
	@include transition(all 1s ease);
	
	i{
		$size:36px;
		$size_h:21px;
		
		text-indent: -9999px;
		font-size: 0;
		
		margin-left: -($size/2);
		margin-top: -($size_h/2);

		position: absolute;
		left: 50%;
		top: 50%;
		
	}
	
	&.active{
		right: 20px;
		@include transform(rotateX(0deg) rotateZ(0deg));
	}
}

//-- PAGE INSIDE
.accordion_field{
	border: solid 1px #eee;
	margin-bottom: 20px;
	overflow: hidden;
	
	@include border-radius(5px);
	
	fieldset,.acc_wrap{
//		margin: 20px 0;
		margin: 0;
		padding: 0;
//		border: solid 1px #eee;
		background: #f9f9f9;
		overflow: hidden;
//		@include border-radius(10px);
		
		&:first-child{
			margin-top: 0;
		}
		
		&+fieldset, &+.acc_wrap{
			
		}
	}
	.acc_target{
		padding: 20px 2.5%;
		width: 95%;
	}
	.acc_button {
		@include border-radius(0);
		margin-bottom: 0;
		cursor: pointer;
		
		&.active, &.close{
			.icon{
				background-position: -39px -576px;
			}
		}
		
		.icon{
			position: absolute;
			right: 20px;
			top: 50%;
			
			margin-right: -8px;
			margin-top: -8px;
		}
	}
}

//----------------------
//-- FOOTER
//----------------------
.footer{
	text-align: center;
}

//----------------------
//-- IMPORT
//----------------------
//@import "responsive.scss";