/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
html { font-size: 100%; line-height: 1.5em; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; /* 1 */ *display: inline; *zoom: 1; vertical-align: baseline; /* 2 */ }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

template { display: none; }

a, img a { background: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1.5em 40px; }

dfn { font-style: italic; }

h1 { font-size: 2em; line-height: 1.5em; margin-top: 0.75em; margin-bottom: 0.75em; }

h2 { font-size: 1.5em; line-height: 2em; margin-top: 1em; margin-bottom: 1em; }

h3 { font-size: 1.17em; line-height: 1.28205em; margin-top: 1.28205em; margin-bottom: 1.28205em; }

h4 { font-size: 1em; line-height: 1.5em; margin-top: 1.5em; margin-bottom: 1.5em; }

h5 { font-size: 0.83em; line-height: 1.80723em; margin-top: 1.80723em; margin-bottom: 1.80723em; }

h6 { font-size: 0.67em; line-height: 2.23881em; margin-top: 2.23881em; margin-bottom: 2.23881em; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1.5em 0; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1.5em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; /* Improve image quality when scaled in IE 7. */ -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1.5em 40px; }

hr { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

form { margin: 0; }

button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ *font-family: sans-serif; /* 4 */ *vertical-align: middle; /* 5 */ }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; /* 2 */ }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { margin: 0 2px; border-color: #c0c0c0; border-top-width: 0.0625em; border-top-style: solid; padding-top: 0.4625em; border-bottom-width: 0.0625em; border-bottom-style: solid; padding-bottom: 0.9125em; border-left-width: 0.0625em; border-left-style: solid; padding-left: 0.875em; border-right-width: 0.0625em; border-right-style: solid; padding-right: 0.875em; }

legend { border: 0; /* 1 */ padding: 0; /* 2 */ *margin-left: -7px; /* 3 */ }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.col { float: left; display: inline; padding: 0; position: relative; margin: 1% 1%; }

.alphaomega > .col:first-child { margin-left: 0; }
.alphaomega > .col:last-child { margin-right: 0; }

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

.hide_on_small, .hide_on_medium, .hide_on_large { display: block; }

.show_on_small, .show_on_medium, .show_on_large { display: none; }

.row { width: 100%; clear: both; }
.row .span_1 { width: 6.33333%; }
* + html .row .span_1 { width: 5.83333%; }
.row .span_1.alpha, .row .span_1.omega { width: 7.33333%; }
* + html .row .span_1.alpha, * + html .row .span_1.omega { width: 6.83333%; }
.row .span_1.alpha.omega { width: 8.33333%; }
* + html .row .span_1.alpha.omega { width: 7.83333%; }
.row .span_2 { width: 14.66667%; }
* + html .row .span_2 { width: 14.16667%; }
.row .span_2.alpha, .row .span_2.omega { width: 15.66667%; }
* + html .row .span_2.alpha, * + html .row .span_2.omega { width: 15.16667%; }
.row .span_2.alpha.omega { width: 16.66667%; }
* + html .row .span_2.alpha.omega { width: 16.16667%; }
.row .span_3 { width: 23%; }
* + html .row .span_3 { width: 22.5%; }
.row .span_3.alpha, .row .span_3.omega { width: 24%; }
* + html .row .span_3.alpha, * + html .row .span_3.omega { width: 23.5%; }
.row .span_3.alpha.omega { width: 25%; }
* + html .row .span_3.alpha.omega { width: 24.5%; }
.row .span_4 { width: 31.33333%; }
* + html .row .span_4 { width: 30.83333%; }
.row .span_4.alpha, .row .span_4.omega { width: 32.33333%; }
* + html .row .span_4.alpha, * + html .row .span_4.omega { width: 31.83333%; }
.row .span_4.alpha.omega { width: 33.33333%; }
* + html .row .span_4.alpha.omega { width: 32.83333%; }
.row .span_5 { width: 39.66667%; }
* + html .row .span_5 { width: 39.16667%; }
.row .span_5.alpha, .row .span_5.omega { width: 40.66667%; }
* + html .row .span_5.alpha, * + html .row .span_5.omega { width: 40.16667%; }
.row .span_5.alpha.omega { width: 41.66667%; }
* + html .row .span_5.alpha.omega { width: 41.16667%; }
.row .span_6 { width: 48%; }
* + html .row .span_6 { width: 47.5%; }
.row .span_6.alpha, .row .span_6.omega { width: 49%; }
* + html .row .span_6.alpha, * + html .row .span_6.omega { width: 48.5%; }
.row .span_6.alpha.omega { width: 50%; }
* + html .row .span_6.alpha.omega { width: 49.5%; }
.row .span_7 { width: 56.33333%; }
* + html .row .span_7 { width: 55.83333%; }
.row .span_7.alpha, .row .span_7.omega { width: 57.33333%; }
* + html .row .span_7.alpha, * + html .row .span_7.omega { width: 56.83333%; }
.row .span_7.alpha.omega { width: 58.33333%; }
* + html .row .span_7.alpha.omega { width: 57.83333%; }
.row .span_8 { width: 64.66667%; }
* + html .row .span_8 { width: 64.16667%; }
.row .span_8.alpha, .row .span_8.omega { width: 65.66667%; }
* + html .row .span_8.alpha, * + html .row .span_8.omega { width: 65.16667%; }
.row .span_8.alpha.omega { width: 66.66667%; }
* + html .row .span_8.alpha.omega { width: 66.16667%; }
.row .span_9 { width: 73%; }
* + html .row .span_9 { width: 72.5%; }
.row .span_9.alpha, .row .span_9.omega { width: 74%; }
* + html .row .span_9.alpha, * + html .row .span_9.omega { width: 73.5%; }
.row .span_9.alpha.omega { width: 75%; }
* + html .row .span_9.alpha.omega { width: 74.5%; }
.row .span_10 { width: 81.33333%; }
* + html .row .span_10 { width: 80.83333%; }
.row .span_10.alpha, .row .span_10.omega { width: 82.33333%; }
* + html .row .span_10.alpha, * + html .row .span_10.omega { width: 81.83333%; }
.row .span_10.alpha.omega { width: 83.33333%; }
* + html .row .span_10.alpha.omega { width: 82.83333%; }
.row .span_11 { width: 89.66667%; }
* + html .row .span_11 { width: 89.16667%; }
.row .span_11.alpha, .row .span_11.omega { width: 90.66667%; }
* + html .row .span_11.alpha, * + html .row .span_11.omega { width: 90.16667%; }
.row .span_11.alpha.omega { width: 91.66667%; }
* + html .row .span_11.alpha.omega { width: 91.16667%; }
.row .span_12 { width: 98%; }
* + html .row .span_12 { width: 97.5%; }
.row .span_12.alpha, .row .span_12.omega { width: 99%; }
* + html .row .span_12.alpha, * + html .row .span_12.omega { width: 98.5%; }
.row .span_12.alpha.omega { width: 100%; }
* + html .row .span_12.alpha.omega { width: 99.5%; }
.row .prefix_1 { padding-left: 8.33333%; }
.row .prefix_2 { padding-left: 16.66667%; }
.row .prefix_3 { padding-left: 25%; }
.row .prefix_4 { padding-left: 33.33333%; }
.row .prefix_5 { padding-left: 41.66667%; }
.row .prefix_6 { padding-left: 50%; }
.row .prefix_7 { padding-left: 58.33333%; }
.row .prefix_8 { padding-left: 66.66667%; }
.row .prefix_9 { padding-left: 75%; }
.row .prefix_10 { padding-left: 83.33333%; }
.row .prefix_11 { padding-left: 91.66667%; }
.row .prefix_12 { padding-left: 100%; }
.row .suffix_1 { padding-right: 8.33333%; }
.row .suffix_2 { padding-right: 16.66667%; }
.row .suffix_3 { padding-right: 25%; }
.row .suffix_4 { padding-right: 33.33333%; }
.row .suffix_5 { padding-right: 41.66667%; }
.row .suffix_6 { padding-right: 50%; }
.row .suffix_7 { padding-right: 58.33333%; }
.row .suffix_8 { padding-right: 66.66667%; }
.row .suffix_9 { padding-right: 75%; }
.row .suffix_10 { padding-right: 83.33333%; }
.row .suffix_11 { padding-right: 91.66667%; }
.row .suffix_12 { padding-right: 100%; }
.row .push_1 { margin-left: 8.33333%; }
.row .push_2 { margin-left: 16.66667%; }
.row .push_3 { margin-left: 25%; }
.row .push_4 { margin-left: 33.33333%; }
.row .push_5 { margin-left: 41.66667%; }
.row .push_6 { margin-left: 50%; }
.row .push_7 { margin-left: 58.33333%; }
.row .push_8 { margin-left: 66.66667%; }
.row .push_9 { margin-left: 75%; }
.row .push_10 { margin-left: 83.33333%; }
.row .push_11 { margin-left: 91.66667%; }
.row .push_12 { margin-left: 100%; }
.row .pull_1 { margin-left: -8.33333%; }
.row .pull_2 { margin-left: -16.66667%; }
.row .pull_3 { margin-left: -25%; }
.row .pull_4 { margin-left: -33.33333%; }
.row .pull_5 { margin-left: -41.66667%; }
.row .pull_6 { margin-left: -50%; }
.row .pull_7 { margin-left: -58.33333%; }
.row .pull_8 { margin-left: -66.66667%; }
.row .pull_9 { margin-left: -75%; }
.row .pull_10 { margin-left: -83.33333%; }
.row .pull_11 { margin-left: -91.66667%; }
.row .pull_12 { margin-left: -100%; }

form { clear: both; }

a, img a { text-decoration: none; color: inherit; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
a img { border: 0; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; border: 0; }

textarea { resize: vertical; }

textarea:disabled, input[type=text]:disabled, input[type=password]:disabled { background-color: #ddd; }

input[type=text], input[type=password], input-text { border: 0; }

h4, h5, h6 { margin: 0; padding: 0; }

ul.clean, .clean ul, ol.clean, .clean ol { margin: 0; padding: 0; }
ul.clean li, .clean ul li, ol.clean li, .clean ol li { list-style-type: none; }
ul.li-inline li, .li-inline ul li, nav ul li, ol.li-inline li, .li-inline ol li, nav ol li { display: inline; }
ul.li-block li, .li-block ul li, ol.li-block li, .li-block ol li { display: block; }

img { max-width: 100%; width: auto\9; height: auto; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

address { font-style: normal; }

textarea { resize: vertical; }

figure { margin: 0; }

.col { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.block { float: left; clear: both; width: 100%; position: relative; }

.hidden, [hidden] { display: none !important; }

.button { border: 0; cursor: pointer; text-align: center; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
.button.medium { padding: 5px 25px; font-size: 13.5px; }
.button.large { padding: 20px 65px; font-size: 15px; }
.button.yellow { background-color: #ffd247; color: #333 ; }
.button.yellow:hover { background-color: #ebbe33; }
.button.yellow:active { background-color: #d7aa1f; }
.button.gray { background-color: #999; color: #fff; }
.button.gray:hover { background-color: #858585; }
.button.gray:active { background-color: #717171; }

.absolute { position: absolute; }

.fixed { position: fixed; }

.font-size-11 { font-size: 11px; }

.font-size-12 { font-size: 12px; }

.valign-middle { display: table-cell; height: inherit; width: inherit; vertical-align: middle; }

.text-align-right, .align-right { text-align: right; }

.text-align-center, .align-center { text-align: center; }

.text-align-left, .align-left { text-align: left; }

.breadcrumb { margin-bottom: 40px; }
.breadcrumb li a { color: #fff; margin-right: 10px; }
.breadcrumb li:last-child a { color: #ffd247; cursor: text; }
.breadcrumb li + li a:before { content: '/'; margin-right: 10px; color: #fff; }

.float-left { float: left; }

.float-right { float: right; }

.container { width: 972px; margin: 0 auto; position: relative; }
.container * html .container { width: 972px; }

#preloader { background: rgba(255, 255, 255, 0.98); position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; text-align: center; line-height: inherit; color: #fff; }
#preloader div { position: absolute; left: 50%; top: 50%; height: 32px; width: 32px; margin-left: -16px; margin-top: -16px; }
#preloader i { width: 32px; height: 32px; display: block; background: url(../images/others/preloader.gif); margin: 0 auto; }

.height-inherit { height: inherit; }

.disclaimer { font-size: 11px; color: #666; line-height: 1.5em; }

.icon { font-weight: normal; display: inline-block; font-style: normal; line-height: 1em; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html { background: white; }

body { font-size: 12px; font-family: Verdana, Geneva, sans-serif; color: #333333; background: white; }

a, img a { color: #007dba; }

p { margin-top: 0; margin-bottom: 10px; }

.icon { display: inline-block; background-image: url(../images/icons/sprites.png); }
.icon.sprites-arrow-topnav { width: 21px; height: 21px; background-position: 0 0; background-repeat: no-repeat; }
.icon.sprites-login { width: 48px; height: 48px; background-position: 0 -70px; background-repeat: no-repeat; }
.icon.sprites-user { width: 11px; height: 15px; background-position: 0 -137px; background-repeat: no-repeat; }
.icon.sprites-key { width: 15px; height: 15px; background-position: 0 -171px; background-repeat: no-repeat; }
.icon.sprites-alarm { width: 18px; height: 19px; background-position: 0 -298px; background-repeat: no-repeat; }
.icon.sprites-excel { width: 19px; height: 18px; background-position: 0 -235px; background-repeat: no-repeat; }
.icon.sprites-plus-green { width: 16px; height: 16px; background-position: 0 -264px; background-repeat: no-repeat; }
.icon.sprites-pdf { width: 18px; height: 18px; background-position: 0 -334px; background-repeat: no-repeat; }
.icon.sprites-arrow-first { width: 7px; height: 10px; background-position: 0 -398px; background-repeat: no-repeat; }
.icon.sprites-arrow-back { width: 7px; height: 10px; background-position: 0 -445px; background-repeat: no-repeat; }
.icon.sprites-arrow-next { width: 7px; height: 10px; background-position: 0 -488px; background-repeat: no-repeat; }
.icon.sprites-arrow-last { width: 7px; height: 10px; background-position: 0 -535px; background-repeat: no-repeat; }

.button { display: inline-block; position: relative; background-repeat: repeat-x; background-position: 0 100%; text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0; }
.button + .button, br + .button { margin-top: 5px; margin-bottom: 5px; margin-left: 10px; }
.button.small { padding: 2px 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.button.medium { padding: 5px 20px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }
.button.large { padding: 10px 25px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.button.grey { color: #333; background-color: #f9f9f9; text-shadow: transparent 0 0 0; }
.button.grey.small { background-image: url(../images/backgrounds/button-grey-small.gif); }
.button.grey.medium { background-image: url(../images/backgrounds/button-grey-medium.gif); }
.button.grey.large { background-image: url(../images/backgrounds/button-grey-large.gif); }
.button.grey:hover { background-color: #ebebeb; background-image: none !important; }
.button.grey:active { background-color: #d7d7d7; background-image: none !important; }
.button.blue { color: #fff; background-color: #007dba; }
.button.blue.small { background-image: url(../images/backgrounds/button-blue-small.gif); }
.button.blue.medium { background-image: url(../images/backgrounds/button-blue-medium.gif); }
.button.blue.large { background-image: url(../images/backgrounds/button-blue-large.gif); }
.button.blue:hover { background-color: #005379; background-image: none !important; }
.button.blue:active { background-color: #003f65; background-image: none !important; }
.button.yellow { color: #fff; background-color: #ffd247; }
.button.yellow.small { background-image: url(../images/backgrounds/button-yellow-small.gif); }
.button.yellow.medium { background-image: url(../images/backgrounds/button-yellow-medium.gif); }
.button.yellow.large { background-image: url(../images/backgrounds/button-yellow-large.gif); }
.button.yellow:hover { background-color: #e36f00; background-image: none !important; }
.button.yellow:active { background-color: #cf5b00; background-image: none !important; }
.button.green { color: #fff; background-color: #98d552; }
.button.green.small { background-image: url(../images/backgrounds/button-green-small.gif); }
.button.green.medium { background-image: url(../images/backgrounds/button-green-medium.gif); }
.button.green.large { background-image: url(../images/backgrounds/button-green-large.gif); }
.button.green:hover { background-color: #51ac00; background-image: none !important; }
.button.green:active { background-color: #3d9800; background-image: none !important; }
.button.icon-left .icon, .button.icon-right .icon { position: absolute; top: 7px; }
.button.icon-left { padding-left: 40px; padding-right: 20px; }
.button.icon-left .icon { left: 10px; }
.button.icon-right { padding-right: 40px; padding-left: 20px; }
.button.icon-right .icon { right: 10px; }

dl.form-field, .form-field dl { margin: 0; float: left; width: 100%; }
dl.form-field dt, dl.form-field dd, .form-field dl dt, .form-field dl dd { margin: 5px 0; float: left; display: inline; }
dl.form-field dt, .form-field dl dt { clear: both; width: 40%; }
dl.form-field dd, .form-field dl dd { width: 60%; }
dl .input-text, dl input[type=text], dl textarea { width: 94%; }

.input-text, input[type=text], input[type=password], .select-menu, select, textarea { padding: 5px 2.5%; border: solid 1px #ccc; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

input[type=checkbox], input[type=radio] { margin-right: 3px; margin-left: 3px; }

.table-cust-01 table { border: solid 1px #8dcfef; }
.table-cust-01 thead td, .table-cust-01 thead th { background: #007dba url(../images/backgrounds/button-blue-small.gif) repeat-x 0 100%; color: #fff; font-weight: normal; text-transform: uppercase; padding: 5px; }
.table-cust-01 th { background-image: url(../images/backgrounds/button-blue-small.gif); color: #fff; font-weight: normal; text-transform: uppercase; padding: 5px; }
.table-cust-01 th + th { border-left: solid 1px #007dba; }
.table-cust-01 tbody tr:nth-child(odd) td, .table-cust-01 tbody tr.nth-child-odd td { background-color: #fff; }
.table-cust-01 tbody tr:nth-child(even) td, .table-cust-01 tbody tr.nth-child-even td { background-color: #f3f3f3; }
.table-cust-01 tbody td { padding: 5px; border-bottom: solid 1px #8dcfef; }
.table-cust-01 tbody td + td { border-left: solid 1px #8dcfef; }

.table-paging input { width: 20px; padding: 5px; text-align: center; }
.table-paging .prev_next li { width: 25px; }
.table-paging .prev_next li a { padding: 5px 8px; height: auto; line-height: 1em; border: solid 1px #ccc; }
.table-paging .goto_page { text-align: center; }
.table-paging .goto_page a { border: solid 1px #ccc; }
.table-paging .item_of { text-align: right; }

.header { background: url(../images/backgrounds/header.gif) no-repeat 50% 0; width: 972px; height: 75px; margin-top: 8px; }
.header .col { margin-top: 0; margin-bottom: 0; height: 75px; }
.header .logo { display: block; text-indent: -9999px; font-size: 0; height: inherit; }
.header .app_title { margin: 0; padding-top: 14px; padding-right: 10px; text-align: right; color: #fff; font-size: 1.5em; line-height: 1.25em; font-weight: normal; }

.welcome_bar { background-color: #f3f3f3; margin-top: 10px; }
.welcome_bar .welcome p { margin: 0; }
.welcome_bar .login_info { text-align: right; }
.welcome_bar .login_info span { color: #007dba; }
.welcome_bar .login_info a { margin-left: 10px; }

.top_nav { margin-top: 20px; position: relative; z-index: 30; }
.top_nav ul li { float: left; position: relative; border-right: solid 1px #ddd; }
.top_nav ul li a { display: block; float: left; position: relative; z-index: 30; font-size: 1.16667em; padding: 5px 55px 5px 15px; border: solid 1px transparent; margin: 0 2px; color: #333333; }
.top_nav ul li:hover > a { background-color: #fff; border: solid 1px #ddd; border-bottom: 0; color: #007dba; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px; border-radius: 5px 5px 0 0; }
.top_nav ul li:hover > ul { display: block; }
.top_nav ul li .icon { right: 15px; top: 7px; position: absolute; }
.top_nav ul li li { border: 0; clear: both; display: block; width: 100%; }
.top_nav ul li li:last-child a, .top_nav ul li li.last-child a { border-bottom: 0; }
.top_nav ul li li:last-child a:hover, .top_nav ul li li.last-child a:hover { border: 0; }
.top_nav ul li li a { padding: 8px 5%; width: 90%; margin: 0; border: 0; border-bottom: solid 1px #ddd; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; line-height: 1.5em; color: #333333; }
.top_nav ul li li a:hover { border: 0; border-bottom: solid 1px #ddd; }
.top_nav ul ul { display: none; z-index: 20; border: solid 1px #ddd; background-color: #fff; position: absolute; left: 2px; top: 98%; width: 100%; padding: 0 7%; -moz-border-radius: 0 5px 5px 5px; -webkit-border-radius: 0; border-radius: 0 5px 5px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px; box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px; }

.page_login { background: url(../images/backgrounds/login.jpg) no-repeat 35% 0; height: 450px; }

.login_form form { background-color: #f8f8f8; border: solid 1px #999; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding: 60px 50px 70px; display: block; position: relative; }
.login_form label { height: inherit; line-height: 1; margin: 15px 0; }
.login_form label i { position: absolute; left: 17px; top: 17px; }
.login_form .title { color: #005379; font-size: 2.5em; font-weight: normal; margin: 0 0 30px; }
.login_form .title i { float: left; margin: 0 10px 0 25px; }
.login_form .input-text { background-color: #005379; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; width: 80%; padding: 17px 5% 17px 15%; font-size: 1.33333em; }
.login_form .button.large { margin-top: 15px; width: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 1.41667em; padding: 15px 0; }

.body { position: relative; z-index: 10; margin: 40px 0; }

.side_nav { background: url(../images/backgrounds/dashboard.jpg) no-repeat 100% 50%; min-height: 376px; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
.side_nav ul { float: left; background-color: #007dba; width: 100%; }
.side_nav ul li a { float: left; width: 90%; padding: 7px 5%; background: url(../images/backgrounds/button-blue-small.gif) repeat-x 0 100%; color: #fff; text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0; text-transform: uppercase; }
.side_nav ul li li a { color: #333333; padding-top: 5px; padding-bottom: 5px; padding-left: 10%; width: 85%; background: transparent; text-transform: none; border-bottom: solid 1px #eee; text-shadow: transparent 0 0 0; background-image: url(../images/icons/sprites.png); background-position: -30px -128px; background-repeat: no-repeat; }
.side_nav ul li li a:hover { color: #007dba; background-color: #eee; }
.side_nav ul ul { background-color: #f2f2f2; display: none; }

.bar.blue { color: #fff; background: #007dba url(../images/backgrounds/button-blue-medium.gif) repeat-x 0 100%; border-top: solid 1px #0a87c4; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; padding: 7px 2%; width: 96%; margin-bottom: 20px; }
.bar.blue .title { font-size: 1.16667em; font-weight: normal; text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0; }

.fieldset-grey { background-color: #f3f3f3; margin: 0; padding: 0; width: 100%; }

.footer { font-size: 0.91667em; }
.footer hr { border-top: solid 1px #ddd; border-bottom: 0; }
.footer .diclaimer_link li a { color: #333333; padding-right: 10px; }
.footer .diclaimer_link li + li a { border-left: solid 1px #333333; padding-left: 15px; }
.footer .disclaimer p { margin: 0; color: #999; }
.footer .footer_anz_logo { padding-top: 50px; text-align: right; }


/*===MAUL 20141110===*/
.showhide {
	color: #FFF;
	text-align: center;
	margin: 7px 0px;
	cursor: pointer;
	font-size: 0.8em;
	float: right;
	text-indent: 9999px;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 7px solid #FFF;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #FFF;
	border-bottom: 0px;
}
h2.title{
	color : #0A87C4;
}
.bar.blue.bottom-no-rounded {
margin-bottom: 0px;
border-radius: 7px 7px 0px 0px;
}